@charset "utf-8";
html {
    font-size: 18px;
}
body{
    font-family: Ubuntu, Arial,'Apple SD Gothic Neo','애플 SD 고딕 Neo','NanumBarunGothic','NanumBarunGothicOTF','나눔바른고딕','나눔바른고딕OTF','Malgun Gothic','맑은 고딕','NanumGothic','NanumGothicOTF', '나눔고딕','나눔고딕OTF',sans-serif;
    /* for ie7 */
    *font-family: 'Apple SD Gothic Neo','애플 SD 고딕 Neo','NanumBarunGothic','NanumBarunGothicOTF','나눔바른고딕','나눔바른고딕OTF','Malgun Gothic','맑은 고딕','NanumGothic','NanumGothicOTF', '나눔고딕','나눔고딕OTF',sans-serif;
    color: rgb(0,0,0);
    background: #ffffff url('...') no-repeat 0 0;

}
.logo {
    background-color: red;
    padding: 0.5rem;
}
.logo > img {
    display: block;
}
.navigation {
    width: 50%;
    margin: 0 auto;
}

.nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
.icon-dropdown:after {
    content: "▼";
    font-size: 0.7em;
    vertical-align: middle;
}
a {
    text-decoration: underline blink!important;
}

.search {
    float: right;
    margin-top: -46px;
}
.search_input {
    width: 5rem;
}
.search_input, .search_submit {
    vertical-align: middle;
}
.search_input {
    line-height: 15px;
}
.search_submit {
    height: 21px;
    padding-top: 0;
}
.content {
    width: 980px;
    margin: 0 auto;
}
.row_one_content {

}
.index-column__title {
    padding: 0.5em 0;
    text-align: center;
    background-color: #ddd;
    font-variant: small-caps;
}
.index-column__title--dark {
    background-color: #000;
    color: #fff;
}
.index-column {
    float: left;
    width: 33%;
}
.index-column--main {
    width: 25%;
}
.index-column--main > ul {
    padding-left: 0;
    list-style: none;
}
.row_one_content_title {
    display: block;
    list-style: none;
    border-bottom: 1px dotted #ddd;
    font-weight: bold;
}
.row_two_content_second {
    font-weight: bold;
    font-size: 1.4em;
}
.row_two_content_img {
    width: 30px;
    height: 30px;
}
.row_two_content_detail {
    font-size: 0.5em;
}
.for-screen-reader {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}
.main-article {
    padding: 1em;
    list-style: none;
}
.main-article__title {
    font-weight: bold;
    font-size: 1.7em;
}

.index-column--main .main-article__title {
    font-size: 2em;
}
.index-column--sub .main-article {
    margin-left: -40px;
}
.main-article > p {
    font-size: 0.9em;
    color: #999;
}
.e-content {
    width: 100rem;
    margin: 0 auto;
}
.e-content:first-letter {
    font-size: 2em;
}
.e-content:first-line {
    font-weight: bold;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}